// COLORS
$primary-color: #2666CF;
$secondary-color: #09e33c;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #c6e5fd;

$dark-blue-text: #010910; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
